	<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>Rtiny Admin</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css")}}" />
		<link rel="stylesheet" href="{{ static_url("css/bootstrap-responsive.min.css")}}" />
		<link rel="stylesheet" href="{{ static_url("css/uniform.css")}}" />
		<link rel="stylesheet" href="{{ static_url("css/select2.css")}}" />
		<link rel="stylesheet" href="{{ static_url("css/matrix-style.css")}}" />
		<link rel="stylesheet" href="{{ static_url("css/matrix-media.css")}}" />
			<link href="{{ static_url("font-awesome/css/font-awesome.css")}}" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
	</head>
	<body>

	<!--Header-part-->
	<div id="header">
	  <h1><a href="">Rtiny Admin</a></h1>
	</div>
	<!--close-Header-part--> 

	<!--top-Header-menu-->
	<div id="user-nav" class="navbar navbar-inverse">
	  <ul class="nav">
		  <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome {{username}}</span><b class="caret"></b></a>
			  <ul class="dropdown-menu">
				  <li class=""><a title="http://{{url}}/lock" href="lock"><i class="icon icon-key"></i> <span class="text">lock</span></a></li>
			  </ul>
		  </li>
		</li>
		<li class=""><a href="http://{{url}}/setting"><i class="icon icon-cog"></i> <span class="text">Setting</span></a>
		</li>
		<li class=""><a title="" href="http://{{url}}/out"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
	  </ul>
	</div>

	<!--start-top-serch-->
	<div id="search">
	  <input type="text" placeholder="Search here..."/>
	  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
	</div>
	<!--close-top-serch--> 

	<!--sidebar-menu-->

	<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-signal"></i> </a>
	  <ul>
		<li><a href="http://{{url}}"><i class="icon icon-home"></i> <span>Home</span></a> </li>
		<li class="active submenu"> <a href="#"><i class="icon icon-th"></i> <span>Project</span><span class="label label-important">{{datainfo['projectn']}}</span></a>
			<ul>
				<li><a href="http://{{url}}/project">All project</a></li>
				{% for project in datainfo['projects'] %}
				<li><a href="http://{{url}}/project/{{project['id']}}/view">{{urlde(project['name'])}}</a></li>
				{% end %}
			</ul>
		</li>
		<li class="submenu"> <a href="#"><i class="icon icon-th-large"></i> <span>Module</span><span class="label label-important">{{datainfo['modulen']}}</span></a>
			<ul>
				<li><a href="http://{{url}}/module">All module</a></li>
				{% for module in datainfo['modules'] %}
				<li><a href="http://{{url}}/module/{{module['id']}}/edit">{{urlde(module['name'])}}</a></li>
				{% end %}
			</ul>
		</li>
		<li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>Plus</span><span class="label label-important">3</span></a>
			<ul>
				<li><a href="plus.html">All</a></li>
				<li><a href="form-validation.html">xxx</a></li>
				<li><a href="form-wizard.html">xxx</a></li>
			</ul>
		</li>
		<li><a href="http://{{url}}/online"><i class="icon icon-random"></i> <span>Online</span><span class="label label-important">{{datainfo['onlinen']}}</span></a></li>
		<li><a href="http://{{url}}/setting"><i class="icon icon-cog"></i> <span>Setting</span></a> </li>
		<li><a href="http://{{url}}/out"><i class="icon icon-share-alt"></i> <span>Logout</span></a> </li>
		  <li class="content"> <span>cpu usage</span>
		  <div class="progress progress-mini progress-danger  active progress-striped">
			<div style="width: {{systeminfo['u']}}%;" class="bar"></div>
		  </div>
		  <span class="percent">{{systeminfo['u']}}%</span>
		  <div class="stat">{{systeminfo['use']}} / {{systeminfo['total']}} MB</div>
		</li>
		  <li class="content"> <span>Disk usage</span>
		  <div class="progress progress-mini  active progress-striped">
			<div style="width: {{systeminfo['du']}}%;" class="bar"></div>
		  </div>
		  <span class="percent">{{systeminfo['du']}}%</span>
		  <div class="stat">{{systeminfo['duse']}} / {{systeminfo['dtotal']}} GB</div>
		</li>

	  </ul>
	</div>
	<div id="content">
	  <div id="content-header">
		<div id="breadcrumb"><a href="" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
		{% for head in heads %}
		<a href="http://{{url}}/{{head['url']}}" title='{{head['title']}}' class="tip-bottom">{{head['name']}}</a>	
		{% end %}
		</div>
	  </div>
		<div class="container-fluid">
{% block body %}{% end %}
		
	</div>

	<!--Footer-part-->
	<div class="row-fluid">
	  <div id="footer" class="span12"> Copyright © 2015 Rtiny. All rights reserved.<p>
		  Design based on tornado and martix.By Roker-The most handsome boy in the whole universe.</div>
	</div>
	<!--end-Footer-part-->
	<script src="{{ static_url("js/jquery.min.js")}}"></script>
	<script src="{{ static_url("js/bootstrap.min.js")}}"></script>
	<script src="{{ static_url("js/jquery.flot.min.js")}}"></script>
	<script src="{{ static_url("js/matrix.js")}}"></script>
	<script src="{{ static_url("js/jquery.uniform.js")}}"></script>
	<script src="{{ static_url("js/select2.min.js")}}"></script>
	<script src="{{ static_url("js/jquery.dataTables.min.js")}}"></script>
	<script src="{{ static_url("js/matrix.tables.js")}}"></script>
	<script src="{{ static_url("js/matrix.chat.js")}}"></script>

	<!--Turning-series-chart-js-->

	</body>
	</html>
