{% extends "main.html" %}
{% block body %}
<script>
function getCookie(name) {
    var c = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return c ? c[1] : undefined;
}

function del(checkBoxLikeName){
		test = document.getElementsByTagName("INPUT");
		testValue="";
		for (i = 0; i < test.length ; i ++ )
		{
			if(test[i].type == "checkbox" && test[i].name.indexOf(checkBoxLikeName)!= -1 ){
				testValue +=test[i].value+",";
			}
		}
		testValue=testValue.substring(0,testValue.length-1);
				$.ajax({
                               type: "post",
                               url: "http://{{url}}/module/del",
                               error: function(){alert('请刷新后重新操作');},
                               data: "id="+testValue,
                              datatype:"html",
                             timeout: 5000,
                             success: function(msg)

                               {

                                   window.location.href="http://{{url}}/module"

                               }

                              })
	
	}
</script>
        <div class="row-fluid">
            <div class="span12">



                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                        <h5>Total : {{modulen}}</h5>

                        <a href="http://{{url}}/module/add"><span class="label"><i class='icon-plus'></i>Add</span></a>
                        <a href="#" onclick="del('module')"><span class="label"><i class='icon-remove'></i>del</span></a>
                    </div>
                    <div class="widget-content ">
                        <table class="table table-bordered table-striped table-hover data-table with-check">
                            <thead>
                            <tr>
                                <th class="span1"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                                <th class="span2">Module name</th>
                                <th class="span6"> Description </th>
                                <th class="span2"> Create time </th>
                                <th class="span1"> Operation </th>
                            </tr>
                            </thead>
                            <tbody>
							{% for mrow in mrows%}
                            <tr>
                                <td><input type="checkbox"  name="module" value="{{mrow['id']}}"/></td>
                                <td> {{urlde(mrow['name'])}} </td>
                                <td>{{urlde(mrow['description'])}}</td>

                                <td> {{timede(mrow['addtime'])}} </td>
                                <td>
                                    <button type="button" class="btn btn-default" title="Del" onclick="window.location.href='http://{{url}}/module/{{mrow['id']}}/del'"><span class="icon-trash"></span></button>
                                    <button type="button" class="btn btn-default" title="Setting" onclick="window.location.href='http://{{url}}/module/{{mrow['id']}}/edit'"><span class="icon-pencil"></span></button>

                                </td>
                            </tr>
                            {% end %}

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% end %}
