{% extends "main.html" %}
{% block body %}
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Add</h5>
                     </div>
                     <div class="widget-content nopadding">
                        <form action="" method="post" class="form-horizontal">
						{% raw xsrf_form_html() %}
                            <div class="control-group">
                                <label class="control-label">Title :</label>
                                <div class="controls">
                                    <input type="text" class="span11" placeholder="Module name" name='name' required/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Description :</label>
                                <div class="controls">
                                        <input type="text" class="span11" placeholder="Description" name='description' />
                                </div>
                            </div>
                            <div class="control-group">
                                    <label class="control-label">Code :</label>
                                    <div class="controls">
                                        <textarea class="span11" rows='23' placeholder="alert('Rtiny')" name='code' required></textarea>
                                        <span class="help-block">Description field</span>
                                    </div>
                            </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>

            </div>
        </div>
    </div>
{% end %}
